	background-color: #F2F2F2;
}

header {
	color: slategray;
	text-align: center;
}

article {
	background-color: snow;
	width: 300px;
	margin: auto;
}

#marco {
	background-color: snow;
	position: relative;
	width: 300px;
	height: 300px;
}

#haiku {
    position: relative;
    width: 200px;
    height: 60px;
    text-align: center;
    vertical-align: 50%;
    left: 50px;
    top: 110px;
 }

table {
	width: 100%;
	text-align: center;
	background-color: slategray;
}

tr {
	height: 60px;
}

td {
	width: 33%;
}

td:hover {
	background-color: gray;
}


footer {
	position: fixed;
	margin-left: 20px;
	vertical-align: 50%;
	bottom: 10px;
	text-align: center;
}
